<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p>&copy;<%=Time.now.year%> <%= link_to "Blessed N' Stitches", '#' %>  |  <%= mail_to "blessed.n.stitches@gmail.com", "Email" %></p>

  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
